.movies-list {
  max-width: 1140px;
  margin: 70px 70px 0 70px;
  padding: 0;
}

@media screen and (max-width: 786px) {
  .movies-list {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 536px) {
  .movies-list {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.movies-card__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4);
  grid-column-gap: 20px;
  grid-row-gap: 38px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1156px) {
  .movies-card__list {
    grid-template-columns: repeat(3, 1fr);
  }  
}

@media screen and (max-width: 786px) {
  .movies-card__list {
    grid-template-columns: repeat(auto-fit, 339px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 536px) {
  .movies-card__list {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-row-gap: 32px;
    grid-column-gap: 32px;
  }
}

.movies-card__button {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #F9F9F9;
  margin: 59px auto 80px;
  padding: 11px 0 9px 0;  
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}  

.movies-card__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 536px) {
  .movies-card__button {
    width: 240px;
  }
}