.card__like-button {
  width: 24px;
  height: 24px;
  background: url('../../images/likeOff.svg');
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;  
}

@media screen and (max-width: 820px) {
  .card__like-button {
    width: 23px;
    height: 21px;
  }
}

.card__like-button_active {
    background: url('../../images/likeOn.svg');
    opacity: 1;
}

.card__like-button:hover {
  scale: 1.1;
}