.footer {
  width: 100%;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 786px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding: 0 10px;
  }
}

.footer__subtitle {
  display: block;
  width: 100%;
  margin: 0;
  padding: 79px 0 20px;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid rgba(160, 160, 160, 1);  
}

@media screen and (max-width: 786px) {
  .footer__subtitle {
    padding-top: 74px;
  }
}

@media screen and (max-width: 520px) {
  .footer__subtitle {
    padding-top: 78px;
    font-size: 12px;
    line-height: 15px;    
    border-bottom: 1px solid var(--bgcolor-medium);
  }
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

@media screen and (max-width: 520px) {
  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.footer__copyright {
  margin: 0;
  padding: 20px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 520px) {
  .footer__copyright {
    padding: 25px 0 32px;
    font-size: 12px;
    line-height: 15px;
  }
}

.footer__links {
  margin: 0;
  padding: 0 0 2px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  
}

@media screen and (max-width: 520px) {
  .footer__links {
    padding: 0;
    padding-top: 25px;
    flex-direction: column;
  }
}

.footer__nav-link {
  margin: 0;  
  padding: 0;
}

@media screen and (max-width: 520px) {
  .footer__nav-link {
    margin: 8px 0 0 0;
  }
}

.footer__nav-link:first-of-type {
  padding: 0;
}

.footer__link {
  padding-left: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .footer__link {
    padding-left: 0;
    font-size: 12px;
    line-height: 15px;
  }
}