.about-me {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 110px;
  box-sizing: border-box;
}

.about-me__biography {
  display: grid;
  margin-top: 66px;
  justify-content: space-between;
  align-content: start;
  grid-template-columns: minmax(292px, 600px) 270px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-areas:
    "name img"
    "description img"
    "text img"
    "link img";
  column-gap: 50px;
  font-family: 'Inter';
}

.about-me__name {
  margin: 0;
  grid-area: name;
  font-size: 50px;
  line-height: 58px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: black;
}

.about-me__description {
  margin: 0;
  padding: 18px 0 0;
  grid-area: description;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.about-me__text {
  margin: 0;
  padding: 26px 0 0;
  grid-area: text;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: black;
}

.about-me__link {
  align-self: end;
  margin-right: auto;
  grid-area: link;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
}

.about-me__link:hover {
  opacity: 0.5;  
}

.about-me__img {
  width: 270px;
  height: 327px;
  grid-area: img;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 990px) {
  .about-me {
    padding: 90px 50px 66px;
  }
  
  .about-me__biography {
    grid-template-columns: minmax(292px, 600px) 255px;
  }
 
  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }
  
  .about-me__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5;
  }
 
  .about-me__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .about-me__img {
    width: 255px;
  }
}

@media screen and (max-width: 748px) {
  .about-me__biography {
    grid-template-columns: 1fr;
    grid-template-rows: 352px repeat(4, min-content);
    grid-template-areas:
      "img"
      "name"
      "profession"
      "text"
      "link";
  }
  
  .about-me__name {
    margin-top: 40px;
  }
  
  .about-me__link {
    margin-top: 40px;
  }
  
  .about-me__img {
    width: 292px;
    justify-self: center;
  }
}

@media screen and (max-width: 620px) {
  .about-me {
    padding: 70px 14px 51px;
  }
  
  .about-me__biography {
    margin-top: 60px;
  }
  
  .about-me__name {
    font-size: 30px;
    line-height: 1.2;
  }
  
  .about-me__description {
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.45;
  }
  
  .about-me__text {
    font-size: 11px;
    line-height: 1.45;
  }
}